 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">




 <style>
 body{
 background: url(https://subtlepatterns.com/patterns/scribble_light.png) #FFF;
 font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;

 }
 img {
    
     padding: 5px;
     max-height:230px;
     object-fit: contain;

 }
 h1, h2, h3, h4, h5, h6 {
   font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
 }

 


 html, body {
height: 98%;
}

header {
    width: 100%;
    height: 300px;
     background-color: grey;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
    height: 50%;
}

.container {
    width: 100%;
    height: 100%;
}

.recs {
  padding: 10px 10px 10px 10px;
}

.block {
    width: 50%;
    height: 42.8%;
    float: left;
    padding: 0px 20px 20px 20px ;
  }

.texts {
    width: 70%;
    height: 90%;
    float: right;
    overflow-y: auto;
    overflow-x: auto;
}

tr:nth-child(odd) {background-color: #f2f2f2;}

th {
  width: 100%;
  }



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Hide the images by default */
/*
.books, .movies, .images {
    display: none;
}
*/
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

q {font-style: italic;}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 300s;
  animation-name: fade;
  animation-duration: 300s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 </style>